/* Stylen van de blokken en centrereren 
@import url('https://fonts.cdnfonts.com/css/lansbury-fg'); */


/* Home pagina -------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  font-family: "Hiragino Kaku";
  color: rgb(20, 20, 20);
}

@font-face {
  font-family:"hiragiono kaku";
  src: url(css/fonts/hiraginokakugothicstdw8.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  
  
}

header {
  background-image: url('../images/liubov-ilchuk-_6rR_iP06p4-unsplash.jpg');
  background-size: cover;
  height: 100vh;  
  width: 100%;
}

nav {
  text-align: right;
  font-size: 1.6em;
}

nav ul {
  margin: 0;
  padding-top: 1.6em;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: rgb(203, 203, 203);
}

h1 {
  font-size: 9.1em;
  text-align: center;
  margin-top: 2.2em;
  letter-spacing: 0.1;
  color: rgb(255, 255, 255);
  font-family: "Hiragino Kaku Gothic Std";
}

p {
  font-size: 3.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: rgb(20, 20, 20);
}

q {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -6em;
}


button {
display: block;
margin: 0 auto;
text-align: center;
background-color: white;
padding: 1em 2em;
border: none;
border-radius: 5em;
margin-top: 2em;
}

button:hover {
  background-color: black;
  transform: scale(1.1);
  }

button a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  color: darkolivegreen;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}



/* Over mij -------------------------------------------------------------------------------------------*/


.overmij{
  background-image: url('../images/kae-anderson-06pdCDOl4nY-unsplash.jpg');
}

figure h1 {
  font-family: "kyrial-sans-condensed-pro", sans-serif;
  margin-top: 4em;
  font-size: 2.5em;
  text-align: left;
  color: black;
  
}

/* Planten -------------------------------------------------------------------------------------------*/


.planten {
  background-image: url('../images/kevin-angelso-OIFMEW_z36Y-unsplash.jpg');
}

main figure {
  margin: 5em 0em 0em 0em;
  display: flex;
  background-color: rgb(221, 221, 221);
}

main figure img {
  width: 60vw;
}

main figure p {
text-align: left;
color: black;
}

main figure figcaption {
  margin: 11em;
}



/* Tips en Tricks -------------------------------------------------------------------------------------------*/

.tipsentricks {
  background-image: url('../images/scott-webb-hDyO6rr3kqk-unsplash.jpg');
}

.tipsentricks p {
  color: rgb(152, 182, 154);
  font-size: 4em;
  font-family: "Hiragino Kaku Gothic Std";
  margin-top: 4em;
  justify-content: center;
  animation: quote 3s linear infinite;
}

@keyframes quote {
  0%   {color: rgb(121, 191, 134);}
  25%  {color: rgb(78, 181, 97);}
  50%  {color: rgb(29, 114, 44);}
  100% {color: rgb(16, 41, 20);}
}

div {
  display: block;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 4em;
  background-image: url('../images/test2.jpg');
  width: 100%;
  padding: 1em 0em;
  margin-top: 4em;
}

.box div {
  height: 22.8125em;
  width: 20.9375em;
  padding: 2em 2.1875em;
  background: white;
  border-right: 2em;
  margin: 0.9375em;
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: 70%;
}

.box div:hover {
  transform: scale(1em);
  opacity: 100%;
}

.box p {
  color: black;
  font-size: 1em;
  line-height: 1.6875em;
  margin-bottom: 1.5625;
}

.box h1{
  font-family: "kyrial-sans-condensed-pro", sans-serif;
  font-size: 1.5em;
  color: black;
}



/* FOOTER -------------------------------------------------------------------------------------------*/

footer p {
  text-align: center;
}


