/* Stylen van de blokken en centrereren 
@import url('https://fonts.cdnfonts.com/css/lansbury-fg'); */


/* Home pagina -------------------------------------------------------------------------------------------*/

*{
  box-sizing: border-box;
  font-family: Hiragino Kaku;
  color: rgb(20, 20, 20);
  
}

@font-face {
  font-family:hiragiono kaku;
  src: url(fonts/Hiragino\ Kaku\ Gothic\ Std\ W8.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

header {
  background-image: url('../images/liubov-ilchuk-_6rR_iP06p4-unsplash.jpg');
  background-size: cover;
  height: 100vh;  
  width: 100%;
}

nav {
  text-align: right;
  font-size: 1.6em;
}

nav ul{
  margin: 0;
  padding-top: 1.6em;
}

nav li{
  display: inline;
}

nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover{
  color: rgb(124, 203, 123);
}

h1{
  font-size: 9.1em;
  text-align: center;
  margin-top: 2.2em;
  color: rgb(255, 255, 255);
  font-family: Hiragino Kaku;
}

p{
  font-size: 3.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: rgb(20, 20, 20);
}

/* Over mij -------------------------------------------------------------------------------------------*/


.overmij{
  background-image: url('../images/kae-anderson-06pdCDOl4nY-unsplash.jpg');

}
/* .coverovermij-image {
  background-image: url('../images/kae-anderson-06pdCDOl4nY-unsplash.jpg');
  background-size: cover;
  height: 100vh;  
  width: 100%;

} */























/* Planten -------------------------------------------------------------------------------------------*/


.planten {
  background-image: url('../images/calathea-orbifolia-by-white-wall.jpg');
}

main figure{
  margin: 5em 0em 0em 0em;
  display: flex;
  background-color: rgb(191,191, 191);
}

h2{
  font-weight: normal;
  color: black;
  font-size: 2.5em;
}

main figure img{
  width: 60vw;
}

main figure p{
text-align: left;
color: black;
}

main figure figcaption{
  margin: 2em;
}


/* main article {
  margin-top: 5em;
  padding-right: 10em;
  background-color: rgb(229, 229, 229);
}

article h2 {
  font-weight: normal;
  text-align: right;
  color: black;
  font-size: 2em;
  font-family:Arial, Helvetica, sans-serif;
}

main article img{
  margin-top: 5em;
  width: 60vw;
}

main article p {
  text-align: right;
  color: black;
  
} */

 
/* .text-links{
  display: flex;
  flex-flow: row-reverse;
} */



/* main article {
  margin-top: 5em;
  display: flex;
  background-color: rgb(191, 191, 191)
}

main article img{
  margin-top: 5em;
  width: 60vw;
}

main article h2 {
  text-align: left;
  color: black;
  margin: 6em;
}

main article p{
  text-align: right;
  color: black;
}

main article p{
  margin: 6em;
} */

/* ------------------------------------------------------ */



/* .text-links{
  display: flex;
  flex-flow: row-reverse;
} */
















/* Tips en Tricks -------------------------------------------------------------------------------------------*/

.tipsentricks {
  background-image: url('../images/small-cacti-with-white-wall-background.jpg');
}




/* body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Lansbury FG';
  font-weight: bold;
  background: hsl(48, 82%, 62%);
}

main {
  margin: 0 auto;
  width: 50vw;
}

article {
  background: hsl(48, 70%, 57%);
  padding: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

strong {
  font-family: monospace;
} */



/* 👇 Schrijf hieronder je eigen CSS

/* 1. Gebruik de Type selector */

/* 2. Gebruik de Class selector */

/* 3. Gebruik de ID selector */

/* 4. Lijstje in Lijstje */

/* 5. De eerste */